<nav class="km-pop-nav" aria-label="Sub menu VPN Management">
  <a href="/management/vpn" class="km-pop-nav__item <%= vpnSection === 'server' ? 'active' : '' %>">
    <i class="bi bi-shield-lock"></i> VPN Server
  </a>
  <a href="/management/vpn/devices" class="km-pop-nav__item <%= vpnSection === 'devices' ? 'active' : '' %>">
    <i class="bi bi-router"></i> Perangkat
  </a>
</nav>
